*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif; }

.main {
  display: grid;
  grid-template-rows: 70vh repeat(4, max-content) repeat(7, [row-start] 70rem);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem)) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-2 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1rem;
  position: relative; }
  .heading-2::after {
    content: "";
    display: block;
    border-bottom: 2px solid #26b18a;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem; }

.heading-6 {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative; }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    padding: 3.4rem 6.4rem;
    border-bottom: 1px solid #f5f5f5;
    z-index: 100;
    transition: all .6s; }
    .header__nav-checkbox {
      display: none; }
    .header__nav-toggle {
      display: none; }
      .header__nav-toggle svg {
        height: 3.5rem;
        width: 3.5rem;
        fill: #26b18a; }
      @media only screen and (max-width: 62.5em) {
        .header__nav-toggle {
          display: block; } }
    @media only screen and (max-width: 62.5em) {
      #nav-toggle:checked ~ .header__nav-links {
        position: absolute;
        top: 10rem;
        right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90rem;
        height: 90rem;
        background-color: #000;
        text-align: center; }
        #nav-toggle:checked ~ .header__nav-links li {
          margin-top: 2rem;
          width: 100%; }
        #nav-toggle:checked ~ .header__nav-links li:last-child {
          margin-bottom: 2rem; } }
    .header__nav-logo:link, .header__nav-logo:visited {
      font-size: 2.5rem;
      text-transform: uppercase;
      letter-spacing: .4rem;
      font-weight: 300; }
    .header__nav-logo:link, .header__nav-logo:visited, .header__nav-link:link, .header__nav-link:visited {
      color: #fff;
      text-decoration: none; }
    .header__nav-links {
      display: flex;
      list-style-type: none; }
      @media only screen and (max-width: 62.5em) {
        .header__nav-links {
          display: none; } }
    .header__nav-link:link, .header__nav-link:visited {
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-left: 3rem;
      letter-spacing: .1rem; }
    .header__nav-link:hover {
      color: #26b18a; }
  .header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; }
    .header__hero-heading {
      font-size: 4.2rem;
      text-transform: uppercase;
      letter-spacing: .4rem;
      font-weight: 300; }
      .header__hero-heading span {
        background: linear-gradient(45deg, #44d7ae, #1a795e);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; }
    .header__hero-text {
      font-size: 1.4rem;
      text-align: center;
      letter-spacing: .1rem;
      line-height: 1.5; }
  .header__hero *:not(:first-child) {
    margin-top: 4rem; }

.active {
  color: #26b18a !important; }

.about {
  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content min-content;
  grid-column-gap: 2rem;
  grid-row-gap: 7rem; }
  .about__heading {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 4rem; }
  .about__left {
    grid-column: 1 / 2; }
  .about__img {
    width: 100%; }
  .about__right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start; }
  .about__title {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .1rem; }
  .about__text {
    font-size: 1.4rem;
    line-height: 1.3;
    letter-spacing: .1rem;
    margin-top: 2.5rem; }
  .about__btn {
    margin-top: 2.5rem;
    margin-top: 4rem; }

.services {
  grid-column: full-start / full-end;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) [wrapper-start] repeat(12, minmax(min-content, 10rem)) [wrapper-end] minmax(6rem, 1fr);
  padding: 9rem 0;
  background-color: #f5f5f5; }
  .services__wrapper {
    grid-column: wrapper-start / wrapper-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: 1fr auto;
    grid-gap: 2rem;
    align-content: center;
    justify-items: center; }
  .services__heading {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 4rem; }

.card {
  text-align: center;
  padding: 3rem;
  width: 35rem;
  background-color: #fff;
  color: #26b18a;
  position: relative;
  z-index: 10; }
  .card__icon {
    width: 4rem;
    height: 4rem;
    fill: currentColor; }
  .card__title {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #666;
    margin-top: 2.2rem; }
  .card__text {
    font-size: 1.2rem;
    color: #666;
    margin-top: 2.2rem; }
  .card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #26b18a;
    transform: scaleY(0);
    transform-origin: bottom center;
    z-index: -1;
    transition: transform .5s; }
  .card:hover {
    color: #fff; }
  .card:hover::after {
    transform: scaleY(1); }
  .card:hover .card__title,
  .card:hover .card__text {
    color: #fff; }

.portfolio {
  grid-column: center-start / center-end;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-template-rows: min-content min-content auto;
  align-content: center;
  justify-items: center;
  grid-gap: 2rem;
  margin: 7rem 0; }
  .portfolio__item {
    position: relative;
    overflow: hidden; }
  .portfolio__heading {
    grid-column: 1 / -1;
    margin-bottom: 5rem; }
  .portfolio__buttons {
    grid-column: 1 / -1;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem; }
  .portfolio__button {
    margin-left: 2rem;
    font-size: 1.75rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem; }
  .portfolio__img {
    width: 100%; }
  .portfolio__hover {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: #666;
    opacity: 0;
    transition: all .5s ease-in-out; }
  .portfolio__icon-box {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1;
    opacity: 0;
    transition: all .5s ease-in-out; }
    .portfolio__icon-box:before {
      content: "";
      display: block;
      width: 18rem;
      height: 12rem;
      position: absolute;
      top: -11.5rem;
      right: -13.5rem;
      background-color: #26b18a;
      transform: rotate(45deg);
      z-index: -1;
      transition: all .6s ease-in-out; }
  .portfolio__icon {
    width: 3rem;
    height: 3rem;
    fill: #fff; }
  .portfolio__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .1rem;
    line-height: 1.5; }
  .portfolio__category {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    line-height: 1.5; }
  .portfolio__item:hover .portfolio__img {
    opacity: .1; }
  .portfolio__item:hover .portfolio__hover {
    opacity: 1; }
  .portfolio__item:hover .portfolio__icon-box {
    opacity: 1; }
    .portfolio__item:hover .portfolio__icon-box:before {
      top: -6.5rem;
      right: -9.5rem; }

.plan {
  grid-column: full-start / full-end;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) [wrapper-start] repeat(12, minmax(min-content, 10rem)) [wrapper-end] minmax(6rem, 1fr);
  background-color: #f5f5f5;
  margin: 5rem 0;
  padding: 10rem 0; }
  .plan__wrapper {
    grid-column: wrapper-start / wrapper-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: min-content min-content;
    grid-gap: 2rem; }
  .plan__header {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 5rem; }
  .plan__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #fff;
    z-index: 10; }
    .plan__item::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #26b18a;
      transform: scaleY(0);
      transform-origin: bottom center;
      z-index: -1;
      transition: transform .5s; }
    .plan__item:hover::after {
      transform: scaleY(1); }
    .plan__item:hover * {
      color: #fff; }
    .plan__item:hover .plan__icon {
      fill: #fff; }
    .plan__item:hover .plan__btn {
      color: #26b18a;
      background-color: #fff; }
  .plan__icon {
    width: 4.1rem;
    height: 4.1rem;
    fill: #26b18a;
    margin: 5rem 0 4rem; }
  .plan__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1rem;
    line-height: 1.6; }
  .plan__subtitle {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #26b18a;
    margin: 1rem 0 1.5rem; }
  .plan__desc {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    line-height: 1.4;
    margin-bottom: 1.2rem; }
  .plan__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 85%; }
  .plan__perk {
    font-size: 1.2rem;
    padding: 1rem 0;
    line-height: 1.5;
    border-bottom: 1px solid #f5f5f5; }
  .plan__btn {
    margin: 2.5rem 0 4.5rem; }

.news {
  grid-column: center-start / center-end;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-template-rows: min-content 1fr;
  grid-gap: 3rem; }
  .news__header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    margin: 5rem 0 3rem; }
  .news__img {
    width: 100%; }
  .news__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .1rem;
    margin-top: 1.2rem; }
  .news__date {
    font-size: 1.4rem;
    color: #a2a2a2;
    letter-spacing: .1rem;
    margin-top: .8rem; }
  .news__desc {
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 1rem 0; }
  .news__link:link, .news__link:visited {
    font-size: 1.5rem;
    text-decoration: none;
    color: #26b18a;
    text-transform: uppercase;
    letter-spacing: .1rem; }
  .news__link:hover {
    color: #1a795e; }

.testimonial {
  grid-column: full-start / full-end;
  grid-row: 6 / 7; }

.contact {
  grid-column: center-start / center-end;
  grid-row: 7 / 8; }

.newsletter {
  grid-column: center-start / center-end;
  grid-row: 8 / 9; }

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  background-color: #26b18a;
  padding: 1rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.45); }
  .btn:link:active,
  .btn:visited:active {
    transform: translateY(2px); }
