*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative; }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    padding: 3.4rem 6.4rem;
    border-bottom: 1px solid #aaa;
    z-index: 100;
    transition: all .6s; }
    .header__nav-toggle {
      display: none; }
    .header__nav svg {
      height: 2rem;
      width: 2rem;
      fill: currentColor; }
    .header__nav-logo:link, .header__nav-logo:visited {
      font-size: 2.5rem;
      text-transform: uppercase;
      letter-spacing: .4rem;
      font-weight: 300; }
    .header__nav-logo:link, .header__nav-logo:visited, .header__nav-link:link, .header__nav-link:visited {
      color: #fff;
      text-decoration: none; }
    .header__nav-links {
      display: flex;
      list-style-type: none; }
    .header__nav-link:link, .header__nav-link:visited {
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-left: 3rem;
      letter-spacing: .1rem; }
    .header__nav-link:hover {
      color: #26b18a; }
  .header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; }
    .header__hero-heading {
      font-size: 4.2rem;
      text-transform: uppercase;
      letter-spacing: .4rem;
      font-weight: 300; }
      .header__hero-heading span {
        background: linear-gradient(45deg, #44d7ae, #1a795e);
        background-clip: text;
        -webkit-text-fill-color: transparent; }
    .header__hero-text {
      font-size: 1.4rem;
      text-align: center;
      letter-spacing: .1rem;
      line-height: 1.5; }
  .header__hero *:not(:first-child) {
    margin-top: 4rem; }

.active {
  color: #26b18a !important; }

.about,
.services,
.portfolio,
.plans,
.news,
.testimonial,
.contact,
.newsletter {
  height: 60rem; }

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  background-color: #26b18a;
  padding: 1rem 2rem;
  box-shadow: 0 1rem 1rem #000; }
  .btn:link:active,
  .btn:visited:active {
    transform: translateY(2px); }
