.about {
    grid-column: center-start / center-end;
    grid-row: 1 / 2;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content min-content min-content;
    grid-column-gap: 2rem;

    @media only screen and ( max-width: $bp-medium) {
        grid-template-columns: 1fr;
    }


    &__heading {
        grid-column: 1 / -1;
        justify-self: center;
    }
    
    &__left {
        grid-column: 1 / 2;
    }

    &__img {
        width: 100%;

        @media only screen and ( max-width: $bp-medium) {
            display: none;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: start;
    
        @media only screen and ( max-width: $bp-medium) {
            justify-self: center;
            align-items: center;
            text-align: center;
        }
    }

    &__title {
        font-size: 2.8rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: .1rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.5;
        letter-spacing: .1rem;
        margin-top: 2.5rem;
        @media only screen and ( max-width: $bp-medium) {
            width: 95%;
        }

        @media only screen and ( max-width: $bp-smallest) {
            width: 90%;
        }
    }

    &__btn {
        margin-top: 4rem;
    }

    &__team {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;
        margin-top: 3rem;
        

        @media only screen and ( max-width: $bp-small) {
            grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));;
            grid-template-rows: min-content min-content;
        }

        @media only screen and ( max-width: $bp-smallest) {
            grid-gap: 1rem;
        } 
    }

    &__member {
        @media only screen and ( max-width: $bp-smallest) {
            padding: 1rem;
        } 

        & > * {
            margin-top: 1rem;
        }

        &--img {
            width: 100%;
        }

        &--name {
            font-size: 2.4rem;
            font-weight: 300;
            letter-spacing: .1rem;
            text-transform: uppercase;
        }

        &--job {
            font-size: 1.6rem;
            font-weight: 300;
            text-transform: uppercase;
        }

        &--desc {
            font-size: 1.4rem;
            line-height: 1.5;
        }
    }
}