// Color Variables
$color-primary: #26b18a;
$color-primary-dark: #1a795e;
$color-primary-light: #44d7ae;
$color-white: #fff;
$color-black: #000;
$color-grey: #f5f5f5;
$color-grey-darker: #a2a2a2;
$color-grey-dark: #666;

// Media Queries
$bp-smallest: 26em;           // 416px;
$bp-extra-small: 37.5em;      // 600px;
$bp-small: 50em;              // 800px;
$bp-inbetween-md-sm: 56.25em; // 900px;
$bp-medium: 62.5em;           // 1000px;
$bp-inbetween-lg-md: 68.75em; // 1100px;
$bp-large: 75em;              // 1200px;

// Other Variables
$border-bottom-light: 1px solid $color-grey;

// Global Reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and ( max-width: $bp-large) {
        font-size: 56.25%;
    }

    @media only screen and ( max-width: $bp-small) {
        font-size: 50%;
    }
}

body {
    font-family: 'Raleway', sans-serif; 
}

.main {
    display: grid;
    grid-template-rows: repeat(7, max-content) 32vh max-content;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem)) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: repeat(7, max-content) 32vh max-content;
        grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem)) [center-end] minmax(3rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-extra-small) {
        grid-template-rows: repeat(7, max-content) 32vh max-content;
        grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem)) [center-end] minmax(3rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-smallest) {
        grid-template-rows: repeat(7, max-content) 32vh max-content;
        grid-template-columns: [full-start center-start] repeat(12, [col-start] minmax(min-content, 10rem)) [center-end full-end];
    }
}
