// COLOR VARIABLES
$color-primary: #26b18a;
$color-primary-dark: #1a795e;
$color-primary-light: #44d7ae;
$color-white: #fff;
$color-grey: #aaa;

// FONT VARIABLES

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif; 
}
