.contact {
    grid-column: center-start / center-end;
    grid-row: 7 / 8;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr min-content;

    @media only screen and ( max-width: $bp-small) {
        grid-template-rows: repeat(2, min-content) 1fr min-content;
    }

    @media only screen and ( max-width: $bp-extra-small) {
        grid-template-columns: 1fr;
        padding: 8rem 2rem !important;
    }

    &__header {
        grid-column: 1 / -1;
        justify-self: center;
    }

    &__info {
        grid-row: 2 / 3;
        width: 80%;
        justify-self: center;

        @media only screen and ( max-width: $bp-small) {
            grid-column: 1 / -1;
            margin-bottom: 2rem;
            border-bottom: $border-bottom-light;
        }

        @media only screen and ( max-width: $bp-extra-small) {
            width: 100%;
        }
    }

    &__info-list {
        list-style: none;

        @media only screen and ( max-width: $bp-small) {
            display: flex;
            align-items: center;
        }

        @media only screen and ( max-width: $bp-extra-small) {
            flex-direction: column;
            align-items: start;
            width: 100%;
        }
    }

    &__info-item {
        display: flex;
        align-items: center;
        border-bottom: $border-bottom-light;
        padding: 1rem;

        @media only screen and ( max-width: $bp-small) {
            border-bottom: none;
        }
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;
        margin-right: 2rem;
    }

    &__text {
        font-size: 1.4rem;
    }

    &__address {
        font-size: 1.4rem;
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
            line-height: 1.6;
        }
    }

    &__form {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
        grid-row-gap: 1.5rem; 
        grid-column-gap: 3rem;

        @media only screen and ( max-width: $bp-small) {
            grid-row: 3 / 4;
            grid-column: 1 / -1;
        }

        @media only screen and ( max-width: $bp-extra-small) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, min-content) 1fr;
        }
    }

    &__input {
        background: #fbfbfb;
        border: none;
        font-size: 1.6rem;
        padding: 1.2rem;

        &--1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            @media only screen and ( max-width: $bp-extra-small) {
                grid-columns: 1 / -1;
            }
        }

        &--2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            @media only screen and ( max-width: $bp-extra-small) {
                grid-column: 1 / -1;
                grid-row: 2 / 3;
            }
        }

        &:focus {
            outline: none !important;
            border:1px solid $color-primary;
            box-shadow: 0 0 10px $color-primary;
        }
    }


    &__textarea {
        background: #fbfbfb;
        border: none;
        font-family: 'Raleway', sans-serif;
        font-size: 1.6rem;
        padding: 1rem;

        grid-column: 1 / -1;
        grid-row: 2 / 3;

        @media only screen and ( max-width: $bp-extra-small) {
            grid-columns: 1 / -1;
            grid-row: 3 / 4;
        }

        &:focus {
            outline: none !important;
            border:1px solid $color-primary;
            box-shadow: 0 0 10px $color-primary;
        }
    }

    &__btn {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        justify-self: start;
        margin-top: 1.5rem;

        @media only screen and ( max-width: $bp-small) {
            grid-row: 4 / 5;
            grid-column: 1 / -1;
        }
    }
}