.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;

        color: $color-white;
        padding: 3.4rem 6.4rem;
        border-bottom: 1px solid $color-grey;
        z-index: 100;
        transition: all .6s;

        &-toggle {
            display: none;
        }

        svg {
            height: 2rem;
            width: 2rem;
            fill: currentColor;
        }

        &-logo:link,
        &-logo:visited {
            font-size: 2.5rem;
            text-transform: uppercase;
            letter-spacing: .4rem;
            font-weight: 300;
        }

        &-logo:link,
        &-logo:visited,
        &-link:link,
        &-link:visited {
            color: $color-white;
            text-decoration: none;
        }

        &-links {
            display: flex;
            list-style-type: none;
        }

        &-link:link,
        &-link:visited {
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-left: 3rem;
            letter-spacing: .1rem;
        }

        &-link:hover {
            color: $color-primary;
        }
    }

    &__hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;

        &-heading {
            font-size: 4.2rem;
            text-transform: uppercase;
            letter-spacing: .4rem;
            font-weight: 300;

            span {
                background: linear-gradient(45deg, $color-primary-light, $color-primary-dark);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }
        }

        &-text {
            font-size: 1.4rem;
            text-align: center;
            letter-spacing: .1rem;
            line-height: 1.5;
        }
    }

    &__hero *:not(:first-child) {
        margin-top: 4rem;
    }
}

.active {
    color: $color-primary !important;
}

.about,
.services,
.portfolio,
.plans,
.news,
.testimonial,
.contact,
.newsletter {
    height: 60rem;
}