.portfolio {
    grid-column: center-start / center-end;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-template-rows: min-content min-content auto;
    align-content: center;
    justify-items: center;


    &__item {
        position: relative;
        overflow: hidden;
    }

    &__heading {
        grid-column: 1 / -1;
    }

    &__buttons {
        grid-column: 1 / -1;
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-bottom: 5rem;
        flex-wrap: wrap;
    }

    &__button {
        margin-left: 2.25rem;
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin: 2rem;
        padding: 1rem;
        cursor: pointer;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.75rem;
        }
    }

    &__img {
        width: 100%;
    }

    &__hover {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        color: $color-grey-dark;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    &__icon-box {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 1;
        opacity: 0;
        transition: all .5s ease-in-out;

        &:before {
            content: "";
            display: block;
            width: 18rem;
            height: 12rem;
            position: absolute;
            top: -11.5rem;
            right: -13.5rem;
            background-color: $color-primary;
            transform: rotate(45deg);
            z-index: -1;
            transition: all .6s ease-in-out;
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        fill: $color-white;
    }

    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: .1rem;
        line-height: 1.5;
    }

    &__category {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        line-height: 1.5;
    }

    &__item:hover &__img {
        opacity: .1;
    }

    &__item:hover &__hover {
        opacity: 1;
    }

    &__item:hover &__icon-box {
        opacity: 1;

        &:before {
            top: -6.5rem;
            right: -9.5rem;
        }
    }
}

.displayNone {
    display: none;
}

.active-filter {
    color: $color-primary !important;
    border: 2px solid $color-primary;
}