.services {
    grid-column: full-start / full-end;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: minmax(6rem, 1fr) [wrapper-start] repeat(12, minmax(min-content, 10rem)) [wrapper-end] minmax(6rem, 1fr);

    background-color: $color-grey;

    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: [wrapper-start] repeat(12, minmax(min-content, 10rem)) [wrapper-end] ;
    }

    &__wrapper {
        grid-column: wrapper-start / wrapper-end;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35.25rem, 1fr));
        grid-template-rows: 1fr auto;
        grid-gap: 2rem;
        align-content: center;
        justify-items: center;

        @media only screen and (max-width: $bp-inbetween-lg-md) {
            grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
        }

        @media only screen and ( max-width: $bp-inbetween-md-sm) {
            grid-template-columns: 1fr;
        }

        @media only screen and ( max-width: $bp-smallest) {
            grid-template-columns: 1fr;
        }
    }

    &__heading {
        grid-column: 1 / -1;
        justify-self: center;
    }
}